<%= render "layouts/errors", :object => @product %>

<div class="center">
  <%= form_for @product do |f| %>
    <%= f.text_field :name %>
    <%= f.label :name %>


    <%= f.number_field :cost %>
    <%= f.label :cost %>


    <%= f.text_field :country %>
    <%= f.label :country %>


    <%= f.text_field :interests %>
    <%= f.label :interests %>


    <%= f.text_field :image %>
    <%= f.label :image %>
    <br>
    <%= f.submit %>
  <% end %>

  <p><%= link_to "Return to Products", products_path %></p>

</div>
