<% content_for(:navbar) do %>
  <ul class="right">
    <li><%= link_to "Products", products_path %></li>
  </ul>
<% end %>

<div class="row">
  <div class="col s6 center">
    <%= image_tag @product.image, class: "responsive-img"  %>
  </div>
  <div class="col s6 center">
    <h4>Product: <%= @product.name %></h4>
    <h4>Cost: $<%= @product.cost %>/pound</h4>
    <h5>Ships From: <%= @product.country %></h5>
    <h5>Interests: <%= @product.interests %></h5>

    <h5><%= link_to "Edit", edit_product_path(@product) %> | <%= link_to "Delete", product_path(@product),
                             :data => {:confirm => "WHYYYYYY?!",
                                       :method => "delete"} %></h5>
  </div>
</div>
