<!DOCTYPE html>
<html>
  <head>
    <title>GummiBearKingdom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <%= link_to "GB Island", products_path, class: "brand-logo" %>
      <%= yield(:navbar) %>
    </nav>
    <div class="container">
      <% if flash[:alert] %>
        <p class="alert center"><%= flash[:alert] %></p>
      <% elsif flash[:notice] %>
        <p class="notice center"><%= flash[:notice] %></p>
      <%end%>
      <%= yield %>
    </div>
  </body>
</html>
